
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lets Meet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
  
<div id="LetsMeet" class="container" ng-app="LetsMeet" ng-controller="namesCtrl">
    <div class="jumbotron">
        <h1>Let's Meet</h1>      
        <p>A place to plan your party, get-togther, slumber parties with your friends.</p>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#eventdetails">Event</a></li>
        <li><a data-toggle="tab" href="#invitees">Invitees <span class="badge">{{selCount}}</span></a></li>
        <li><a data-toggle="tab" href="#shopping">Shopping <span class="badge">{{shoppingList.length}}</span></a></li>
        <li><a data-toggle="tab" href="#share">Share <span class="badge">{{shareCost}}</span></a></li>
    </ul>
    <div class="tab-content">
        <div id="eventdetails" class="tab-pane fade in active">
            <form name="eventform">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="eventname">Event Name:</label>
                            <input type="text" class="form-control" id="eventname" ng-model="eventname" required>
                        </div>
                        <div class="form-group">
                            <label for="eventlocation">Location:</label>
                            <input type="text" class="form-control" id="eventlocation" ng-model="eventlocation" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="eventdate">Date:</label>
                            <input type="date" class="form-control" id="eventdate" ng-model="eventdate" required>
                        </div>
                        <div class="form-group">
                            <label for="eventtime">Time:</label>
                            <input type="time" class="form-control" id="eventtime" ng-model="eventtime" required>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="showMoreInfo">More Info:</label>
                            <textarea class="form-control" rows="5" id="moreinfo" required={{$showMoreInfo}}></textarea>
                        </div>  
                    </div>
                </div>
            </form>
        </div>
        
        <div id="invitees" class="tab-pane fade">
            <p>Click on the contact cards to add invitees.</p>
            <div class="card {{x.selected}}" ng-repeat="x in names" ng-click="selectMe(x)">
                <div class="photo" style="background-image: url({{x.image}})"></div>
                <ul>
                    <li><b>{{x.name}}</b></li>
                    <li>{{x.phone}}</li>
                    <li>{{x.email}}</li>
                </ul>
            </div>
        </div>

        <div id="shopping" class="tab-pane fade">
            <p>Add the items to buy to the shopping list.</p>
            <div class="row">
                <div class="col-sm-6">
                    <form ng-submit="addItem()">
                        <div class="input-group {{hasError}}">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-shopping-cart"></i></span>
                            <input class="form-control" ng-model="newitem" placeholder="Add new item" required>
                        </div>
                        {{errortext}}
                    </form>
                    <br>
                    <ul class="list-group">
                        <li ng-repeat="x in shoppingList" class="list-group-item"><i class="glyphicon glyphicon-shopping-cart"></i>  {{ x}}
                            <span class="remove-item" ng-click="removeItem($index)"><i class="glyphicon glyphicon-remove"></i></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="share" class="tab-pane fade">
            <p ng-show="shoppingList.length < 1">
                Add items on the Shopping list to add the price and calculate the share.
            </p>

            <div class="col-sm-4">
                <table class="table table-condensed" ng-show="shoppingList.length > 0">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in shoppingListPrice">
                            <td>{{x.item}}</td>
                            <td><input type="number" ng-change="calcTotal()" ng-model="x.price"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th>{{shoppingTotal}}</th>
                        </tr>
                        <tr>
                            <th>Share</th>
                            <th>{{shareCost}}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>  
    </div>       
</div>

<script>
    angular.module('LetsMeet', []).controller('namesCtrl', function($scope) {
        $scope.names = [
          {
            "id": 0,
            "name": "Gena Meyers",
            "email": "genameyers@bitrex.com",
            "phone": "+1 (866) 501-3390",
            "image": "http://lorempixel.com/128/128/people/?0"
          },
          {
            "id": 1,
            "name": "Heath Morse",
            "email": "heathmorse@bitrex.com",
            "phone": "+1 (947) 590-2955",
            "image": "http://lorempixel.com/128/128/people/?1"
          },
          {
            "id": 2,
            "name": "Stephens Atkins",
            "email": "stephensatkins@bitrex.com",
            "phone": "+1 (984) 574-2669",
            "image": "http://lorempixel.com/128/128/people/?2"
          },
          {
            "id": 3,
            "name": "Rosemarie Snider",
            "email": "rosemariesnider@bitrex.com",
            "phone": "+1 (899) 450-3334",
            "image": "http://lorempixel.com/128/128/people/?3"
          },
          {
            "id": 4,
            "name": "Maryanne Shelton",
            "email": "maryanneshelton@bitrex.com",
            "phone": "+1 (811) 425-2614",
            "image": "http://lorempixel.com/128/128/people/?4"
          },
          {
            "id": 5,
            "name": "Vega Figueroa",
            "email": "vegafigueroa@bitrex.com",
            "phone": "+1 (952) 512-3492",
            "image": "http://lorempixel.com/128/128/people/?5"
          },
          {
            "id": 6,
            "name": "Sonia Blackwell",
            "email": "soniablackwell@bitrex.com",
            "phone": "+1 (961) 400-2170",
            "image": "http://lorempixel.com/128/128/people/?6"
          },
          {
            "id": 7,
            "name": "Herminia Turner",
            "email": "herminiaturner@bitrex.com",
            "phone": "+1 (866) 591-2364",
            "image": "http://lorempixel.com/128/128/people/?7"
          },
          {
            "id": 8,
            "name": "Maria Mccarthy",
            "email": "mariamccarthy@bitrex.com",
            "phone": "+1 (966) 439-2454",
            "image": "http://lorempixel.com/128/128/people/?8"
          },
          {
            "id": 9,
            "name": "Corine Foster",
            "email": "corinefoster@bitrex.com",
            "phone": "+1 (853) 483-2923",
            "image": "http://lorempixel.com/128/128/people/?9"
          },
          {
            "id": 10,
            "name": "Medina Reyes",
            "email": "medinareyes@bitrex.com",
            "phone": "+1 (970) 517-3362",
            "image": "http://lorempixel.com/128/128/people/?10"
          },
          {
            "id": 11,
            "name": "Holmes Miller",
            "email": "holmesmiller@bitrex.com",
            "phone": "+1 (838) 462-2831",
            "image": "http://lorempixel.com/128/128/people/?11"
          },
          {
            "id": 12,
            "name": "Roberts Goodman",
            "email": "robertsgoodman@bitrex.com",
            "phone": "+1 (817) 510-3347",
            "image": "http://lorempixel.com/128/128/people/?12"
          },
          {
            "id": 13,
            "name": "Carson Ford",
            "email": "carsonford@bitrex.com",
            "phone": "+1 (929) 544-2765",
            "image": "http://lorempixel.com/128/128/people/?13"
          },
          {
            "id": 14,
            "name": "Pierce Wilkerson",
            "email": "piercewilkerson@bitrex.com",
            "phone": "+1 (853) 581-3748",
            "image": "http://lorempixel.com/128/128/people/?14"
          },
          {
            "id": 15,
            "name": "Minerva Foley",
            "email": "minervafoley@bitrex.com",
            "phone": "+1 (898) 526-2317",
            "image": "http://lorempixel.com/128/128/people/?15"
          },
          {
            "id": 16,
            "name": "Lynne Ortega",
            "email": "lynneortega@bitrex.com",
            "phone": "+1 (966) 438-3240",
            "image": "http://lorempixel.com/128/128/people/?16"
          },
          {
            "id": 17,
            "name": "Floyd Ellison",
            "email": "floydellison@bitrex.com",
            "phone": "+1 (902) 544-3027",
            "image": "http://lorempixel.com/128/128/people/?17"
          },
          {
            "id": 18,
            "name": "Becker French",
            "email": "beckerfrench@bitrex.com",
            "phone": "+1 (947) 406-2794",
            "image": "http://lorempixel.com/128/128/people/?18"
          },
          {
            "id": 19,
            "name": "Myers Flynn",
            "email": "myersflynn@bitrex.com",
            "phone": "+1 (918) 486-2839",
            "image": "http://lorempixel.com/128/128/people/?19"
          },
          {
            "id": 20,
            "name": "Misty Bass",
            "email": "mistybass@bitrex.com",
            "phone": "+1 (954) 588-2650",
            "image": "http://lorempixel.com/128/128/people/?20"
          },
          {
            "id": 21,
            "name": "Lenore Winters",
            "email": "lenorewinters@bitrex.com",
            "phone": "+1 (848) 527-2326",
            "image": "http://lorempixel.com/128/128/people/?21"
          },
          {
            "id": 22,
            "name": "Jenifer Soto",
            "email": "jenifersoto@bitrex.com",
            "phone": "+1 (946) 510-3040",
            "image": "http://lorempixel.com/128/128/people/?22"
          },
          {
            "id": 23,
            "name": "Nell Leonard",
            "email": "nellleonard@bitrex.com",
            "phone": "+1 (843) 555-2389",
            "image": "http://lorempixel.com/128/128/people/?23"
          },
          {
            "id": 24,
            "name": "Andrea Boyer",
            "email": "andreaboyer@bitrex.com",
            "phone": "+1 (912) 526-3956",
            "image": "http://lorempixel.com/128/128/people/?24"
          }
        ];
        $scope.selCount = 0;
        $scope.selectMe = function(item) {
            item.selected = item.selected === "invited" ? "" : "invited"; 
            $scope.selCount = $scope.names.filter(function(item) {return item.selected === 'invited'}).length;
            $scope.calcTotal();
        };

        $scope.showFriendsList = false;
        $scope.showShoppingList = false;
        $scope.shoppingList = [];
        $scope.shoppingListPrice = [];
        $scope.inviteFriends = function(item) {
            $scope.showShoppingList = true;
        };

        $scope.addItem = function () {
            $scope.errortext = "";
            $scope.hasError = "";
            if (!$scope.newitem) {return;}        
            if ($scope.shoppingList.indexOf($scope.newitem) == -1) {
                $scope.shoppingList.push($scope.newitem);
                $scope.shoppingListPrice.push({
                    item: $scope.newitem,
                    price: null
                });
                $scope.newitem = "";
            } else {
                $scope.errortext = "The item is already in your shopping list.";
                $scope.hasError = "has-error";
            }

        };

        $scope.removeItem = function (x) {
            $scope.errortext = "";    
            $scope.shoppingList.splice(x, 1);
            $scope.shoppingListPrice.splice(x, 1);
            $scope.calcTotal();
        }
        $scope.shoppingTotal = 0;
        $scope.shareCost = '$ 0.00';
        $scope.calcTotal = function() {
            let sum = 0,
                share = 0;
            $scope.shoppingListPrice.forEach(function (item) {
                sum += item.price;
            });
            $scope.shoppingTotal = '$' + sum;

            if ($scope.selCount > 0 && $scope.shoppingList.length) {
                share = (sum / $scope.selCount).toFixed(2);
                $scope.shareCost = '$' + share;
            } else {
                $scope.shareCost = '$ 0.00';
            }
        }
        
    });
</script>
</body>

</html>